<div class="container">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <span>Editar Usuario</span>
      <button class='btn btn-red' [routerLink]="['/']">Regresar</button>
    </div>
    <div class="card-body">
      
      <!-- Alerta -->
      <div class="alert alert-warning fade show" *ngIf='alert'>
        <button type="button" class="close" data-dismiss="alert" (click)='alert = false'>
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>Se han encontrado los siguientes errores:</strong>
        <ul>
          <li *ngFor='let e of arrErrors'><ins>{{ e[0] }}</ins> - {{ e[1] }}</li>
        </ul>
      </div>
      <!-- /Alerta -->

      <form #editUserForm="ngForm">
        <!-- User Data -->
        <div class="row">
          <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12">
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" class="form-control" name="firstname" placeholder="Nombre" [ngModel]='user.firstname'>
            </div>
            <div class="form-group">
              <label>Apellidos</label>
              <input type="text" class="form-control" name="lastname" placeholder="Apellidos" [ngModel]='user.lastname'>
            </div>
            <div class="form-group">
              <label>Correo electronico</label>
              <input type="text" class="form-control" name="email" placeholder="Correo electronico" [ngModel]='user.email'>
            </div>
            <div class="form-group">
              <label>Cumpleaños</label>
              <input type="text" class="form-control" name="birthDate" placeholder="YYYY-mm-dd" [ngModel]='user.birthDate'>
            </div>
          </div>
          <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 text-center">
            <img src="assets/images/user.png" class='img-fluid'>
            <button class='btn btn-green mt-2' (click)="toggleAddress()">
              <i class="fa fa-address-card-o mr-2"></i>
              {{ address.textButton }}
            </button>
          </div>
        </div>
        <!-- /User Data -->

        <!-- Address Info -->
        <div class="row mt-2" *ngIf="address.display">
          <div class="col-12">
            <div class="form-group">
              <label>Dirección</label>
              <textarea name="street" rows="1" class='form-control' placeholder='Direccion'  [ngModel]='user.addresses[0].street'></textarea>
              <input type="hidden" name='id' [ngModel]='user.addresses[0].id'>
            </div>
            <div class="form-group">
              <label>Ciudad</label>
              <input type="text" class="form-control" name="city" placeholder="Ciudad"  [ngModel]='user.addresses[0].city'>
            </div>
            <div class="form-group">
              <select name="country" class='form-control'  [ngModel]='user.addresses[0].country'>
                <option [ngValue]="c[1]" *ngFor='let c of arrCountries'>{{ c[0] }}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Codigo Postal</label>
              <input type="text" class="form-control" name="postalcode" placeholder="Codigo Postal"  [ngModel]='user.addresses[0].postalcode'>
            </div>
          </div>
        </div>
        <!-- /Address Info -->

        <div class="row mt-2">
          <div class="col-12">
            <input type="button" class="btn btn-xl btn-green btn-block" value="Actualizar usuario" (click)="onSubmit(editUserForm.value)">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
