<div class="modal fade" id="userModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ modalData.title }}</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <!-- User Data -->
        <div class="row">
          <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12">
            <div class="form-group">
              <label *ngIf="modalData.label">Nombre</label>
              <input type="text" class="form-control" id="firstname" placeholder="Nombre">
            </div>
            <div class="form-group">
              <label *ngIf="modalData.label">Apellidos</label>
              <input type="text" class="form-control" id="lastname" placeholder="Apellidos">
            </div>
            <div class="form-group">
              <label *ngIf="modalData.label">Correo electronico</label>
              <input type="text" class="form-control" id="email" placeholder="Correo electronico">
            </div>
            <div class="form-group">
              <label *ngIf="modalData.label">Cumpleaños</label>
              <input type="text" class="form-control" id="birthDate" placeholder="YYYY-mm-dd">
            </div>
          </div>
          <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 text-center">
            <img src="assets/images/user.png" class='img-fluid'>
            <button class='btn btn-green mt-2' (click)="toggleAddress()">
              <i class="fa fa-address-card-o mr-2"></i>
              {{ address.textButton }}
            </button>
          </div>
        </div>
        <!-- /User Data -->
        
        <!-- Address Info -->
        <div class="row mt-2" *ngIf="address.display">
          <div class="col-12">
            <div class="form-group">
              <label *ngIf="modalData.label">Dirección</label>
              <textarea id="street" rows="1" class='form-control' placeholder='Direccion'></textarea>
            </div>
            <div class="form-group">
              <label *ngIf="modalData.label">Ciudad</label>
              <input type="text" class="form-control" id="city" placeholder="Ciudad">
            </div>
            <div class="form-group">
              <label *ngIf="modalData.label">Idioma</label>
              <select id="country" class='form-control'>
                <option value="0">- Seleccionar -</option>
              </select>
            </div>
            <div class="form-group">
              <label *ngIf="modalData.label">Codigo Postal</label>
              <input type="text" class="form-control" id="postalcode" placeholder="Codigo Postal">
            </div>
          </div>
        </div>
        <!-- /Address Info -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-xl btn-red" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-xl btn-green">{{ modalData.buttonStore }}</button>
      </div>
    </div>
  </div>
</div>
